body {
    margin: 0;
    padding: 0;
}



.container {
    width: 900px;
    margin: 10px auto;
    border: 5px solid blue;
}

.line {
    width: 10px;
    height: 250px;
    background-color: aqua;
    transform: rotate(-20deg);
}

.kotak {
    margin: 100px;
    width: 100px;
    height: 100px;
    background-color: salmon;
    transition: all 2s cubic-bezier(0, 0, 0.34, 1.06) 2s;
    cursor: pointer;
}

.container:hover .kotak {
    transform: rotate(180deg);
    margin-left: 800px;
    margin-top: 300px;
    border-radius: 100%;

}